:root {
  --cerulean: hsla(194, 100%, 33%, 1);
  --tropical-teal: hsla(183, 100%, 36%, 1);
  --light-yellow: hsla(58, 89%, 93%, 1);
  --soft-apricot: hsla(29, 97%, 86%, 1);
  --vibrant-coral: hsla(4, 82%, 67%, 1);
  --bright-coral: rgb(243, 82, 71);
}

.cart-headline {
  display: block;
  color: var(--tropical-teal);
  font-size: 2rem;
  letter-spacing: normal;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.shopping-cart-btn {
  display: inline-flex;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 850;

  background-color: var(--tropical-teal);
  border: none;
  border-radius: 1rem;
  color: var(--light-yellow);
  padding: 0.5rem;
  transition: 0.2s ease;
  box-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0, 0.3);
}

.shopping-cart-btn:hover {
  transition: 0.2s ease;
  background-color: var(--light-yellow);
  color: var(--tropical-teal);
}

.shopping-cart-btn i {
  font-size: 2rem;
  padding: 1rem;
}

.shopping-cart {
  z-index: 750;
  display: inline-flex;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 800;
}

.shopping-cart-btn.active {
  box-shadow: none;
  background-color: var(--light-yellow);
  color: var(--tropical-teal);
}
.shopping-cart-btn.active:hover {
  box-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0, 0.3);
  background-color: var(--tropical-teal);
  color: var(--light-yellow);
}

.cart-products {
  visibility: hidden;
  background-color: var(--light-yellow);
  border-radius: 1rem;
  transform: scale(0);
  transform-origin: top right;
  position: absolute;
  pointer-events: none;
  right: 1rem;
  padding: 2rem;
  max-height: 60vh;
  min-width: 40vw;
  overflow-y: auto;
  box-shadow: 0rem 0.4rem 0.7rem rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.cart-products.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.cart-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: var(--soft-apricot);
  padding: 1rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  box-shadow: 0rem 0.2rem 0.7rem rgb(0, 0, 0, 0.3);
}

.cart-prod-data-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.cart-prod-lesserinfo-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cart-prod-name {
  font-weight: bold;
}

.cart-prod-img {
  min-width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.cart-prod-add-button,
.cart-prod-subtract-button,
.cart-prod-delete-button {
  max-width: 2rem;
  max-height: 2rem;
  border: none;
}

.cart-prod-delete-button {
  background-color: var(--bright-coral);

}

.prod-count .p-inputnumber-input {
  max-width: 3rem;
  font-weight: bold;
  text-align: center;
}
