.products {
  background-color: var(--tropical-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 1.5rem;
}

.product-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  background-color: var(--light-yellow);
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 2rem;
  box-shadow: 0rem 0.4rem 0.8rem rgb(0, 0, 0, 0.7);
}

.prod-img {
  min-width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.prod-data-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.prod-buy-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.prod-price {
  font-size: 1.5rem;
}

.prod-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.prod-lesser-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.prod-tag {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.prod-inv-status {
    font-size: 0.75rem;
}

.prod-name {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.prod-shop-button {
  min-width: 5rem;
  height: 10rem;
  padding: 0;
  border-radius: 1rem;
}

.prod-shop-button .p-button-icon {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
 #container h1 {
    font-size: 2.5rem;
  }

  .products {
  background-color: var(--tropical-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 1.5rem;
}

.product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: var(--light-yellow);
  border-radius: 1rem;
  padding: 0rem;
  gap: 1rem;
  box-shadow: 0rem 0.4rem 0.8rem rgb(0, 0, 0, 0.7);
}

.prod-img {
  min-width: 16rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem 1rem 1rem 1rem;
  flex-shrink: 0;
}

.prod-buy-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.prod-data-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: -1rem 1rem 0rem 1rem;
}

.prod-price {
   font-size: 1.5rem;
}

.prod-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  }

.prod-lesser-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.prod-tag {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.prod-name {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.prod-shop-button {
  min-width: 4rem;
  height: 4rem;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 0 5rem
}

.prod-inv-status {
    font-size: 0.75rem;
}

.prod-shop-button .p-button-icon {
  font-size: 2.5rem;
}
}
